<p id="notice"><%= notice %></p>

<div class="p-3 mb-2 bg-warning text-dark">
  Welcome to <%= @station.name.upcase %> Junction
</div>


<div class="row ">
  <div class="col-md-6 ">
    <h1 class="p-3 mb-2 bg-info text-dark">All Trains</h1>
    <table>
      <thead>
        <tr>
          <th>Arrival Time</th>
          <th>Train name</th>
          <th>Depature Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>
        <tbody>
          <% @trains.each do |train_1| %>
            <% train_1.train_times.each do |train_time| %>
              <% @station.train_times.each do |train_time2|%>
                <% if train_time == train_time2 %>
                  <tr>
                    <td><%= custom_duration_to_hours_mn_sec_str(train_time.arrival) %></td>
                    <td><%= link_to train_1.name, train_path(train_1) , class: "btn btn-outline-secondary" %></td>
                    <td><%= custom_duration_to_hours_mn_sec_str(train_time.departure) %></td>      
                 </tr>
                <% end %> 
              <% end %>
            <% end %>
          <% end %>
        </tbody>
    </table>  
  </div>

  <div class="col-md-6">
    <h1 class="p-3 mb-2 bg-info text-dark">Trains After 2 hours Later</h1>
    <table>
      <thead>
        <tr>
          <th>Arrival Time</th>
          <th>Train name</th>
          <th>Depature Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @trains.each do |train_1| %>
          <% train_1.train_times.each do |train_time| %>
            <% @station.train_times.each do |train_time2|%>
              <% if range_of_current_to_two_hour_later.include?(train_time.arrival) && (train_time == train_time2) %>
                <tr>
                  <td><%= custom_duration_to_hours_mn_sec_str(train_time.arrival) %></td>
                  <td><%= link_to train_1.name, train_path(train_1) , class: "btn btn-outline-secondary" %></td>
                  <td><%= custom_duration_to_hours_mn_sec_str(train_time.departure) %></td>
                </tr>      
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div>
  <%= link_to 'Back', stations_path %>
</div>
